{% extends 'core/base.html' %}

{% block title %}Register{% endblock title %}

{% block main %}
<form id="form">
    <div class="mb-3">
        <input name="username" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input name="password" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="password" placeholder="password" type="password">
    </div>
    <div class="mb-3">
        <input name="password2" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="password2" placeholder="password again" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% load static %}
<script>
    let api = '{{api}}'
    let csrf = '{{ csrf_token }}'
</script>
<script src="{% static 'js/register.js' %}"></script>
{% endblock main %}